<div class="col-lg-6">
    <div class="card shadow">
        <div class="card-body">
            <p class="lead"><%= @event_count %> Total events</p>
            <p class="lead"><%= @upcoming_events_count %> Total upcoming events</p>
            <p class="lead"><%= @past_events_count %> Total upcoming events</p>
        </div>
    </div>
</div>