<div class="col-lg-12">
    <%= render 'shared/event', events: @upcoming_events, title_section: 'Upcoming Events' %>
    <%= render 'shared/event', events: @past_events, title_section: 'Past Events' %>
</div>