<div class="col-lg-10 mx-auto">
  <div class="card shadow">
    <div class="card header">
      <h4 class="card-title">Booking Confirmation</h4>
    </div>
    <div class="card-body">
      <h1>Greetinges from Webinari</h1>
      <h3>Hello <%= @customer.full_name %></h3>

      <p class="lead">Your booking for <strong><%= @event.name %></strong> has been confirmed.  Please find details below.</p>

    </div>
  </div>
</div>