<div class="col-lg-6 mt-4">
    <div class="card show">
        <div class="card-body">
           <%= render 'shared/details_booking', event: @event, booking: @booking %>
        </div>
    </div>
    </div>
</div>